:root {
  /* Fonts */
  --principal: "Lora", serif;
  --secundaria: "Montserrat", sans-serif;

  /* Colors */
  --oscuro: #181719;
  --claro: #fff;
  --gris: #a9a9a9;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--oscuro);
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
  color: var(--claro);
}

.container {
  width: 90%;
  margin: 0 auto;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}
.logo {
  border: 1px solid var(--claro);
}
.logo p {
  text-transform: uppercase;
  font-size: 1.4rem;
  padding: 1rem;
  cursor: pointer;
}
.navegacion ul {
  display: flex;
  gap: 8rem;
}
.navegacion li a {
  font-size: 1.8rem;
  text-decoration: none;
  color: var(--claro);
  font-family: var(--secundaria);
  font-weight: 700;
}
.navegacion li a:hover {
  border-bottom: 2px solid var(--claro);
  padding-bottom: 5px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  margin-top: 15rem;
}

.main-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  width: 40%;
}
.main-info h1 {
  font-size: 4.8rem;
  font-weight: 700;
  font-family: var(--principal);
  line-height: 6rem;
}
.main-info p {
  width: 55%;
  font-size: 2.4rem;
  font-weight: 400;
  font-family: var(--secundaria);
}
.main-info-link {
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}
.main-info-link a {
  font-size: 1.8rem;
  font-weight: 700;
  font-family: var(--secundaria);
  line-height: 2rem;
  text-decoration: none;
  color: var(--claro);
}
.main-info-link img {
  width: 2.5rem;
}
.main-sidebar {
  position: relative;
  width: 100%;
  max-width: 73rem;
  min-width: 35rem;
}
.main-image {
  width: 100%;
  max-width: 73rem;
  min-width: 35rem;
}
.main-image img {
  width: 100%;
}

.main-profile {
  width: 60%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  background-color: var(--oscuro);
  padding: 3rem;
  position: absolute;
  bottom: 0.1rem;
}

.main-profile-account {
  display: flex;
  gap: 2rem;
}
.main-profile-account--image img {
  width: 5rem;
  border-radius: 50%;
}

.footer-container {
  margin-top: 30rem;
  margin-bottom: 2rem;
  text-align: center;
}

.footer-container p {
  font-family: var(--secundaria);
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--gris);
}

.footer-container a {
  text-decoration: none;
  color: var(--claro);
  font-weight: 700;
}

/* .container {
  width: 90%;
  margin: 0 auto;
}

.header-container {
  width: 90%;
  height: 20rem;
  display: flex;
  color: white;
  justify-content: space-between;
}

.logo {
  width: 12rem;
  height: 3rem;
  border: 1px solid var(--claro);
  margin-top: 4rem;
}
.logo p {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  margin-top: 6px;
}

.navegacion {
  margin-top: 4rem;
}
.navegacion ul {
  display: flex;
  list-style: none;
  gap: 4.3rem;
  font-size: 1.8rem;
}
.navegacion ul li a {
  cursor: pointer;
  text-decoration: none;
  color: var(--claro);
  font-family: var(--secundaria);
}
.navegacion ul li a:hover {
  border-bottom: 2px solid var(--claro);
  padding-bottom: 5px;
}

.main-container {
  width: 100%;
  height: 60rem;
  display: flex;
  margin-top: 10rem;
  justify-content: space-around;
}

.main-info {
  color: var(--claro);
  flex-direction: column;
  gap: 3rem;
  padding: 7rem;
  display: flex;
  margin-right: 13rem;
}

.main-info h1 {
  font-size: 4.8rem;
  font-weight: 500;
  font-family: var(--principal);
}
.main-info p {
  max-width: 35rem;
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-family: var(--secundaria);
  font-weight: 400;
}

.main-info a {
  color: var(--claro);
  text-decoration: none;
  font-size: 1.8rem;
  font-family: var(--secundaria);
  font-weight: 700;
}

.main-image img {
  max-width: 80rem;
  margin-left: 9rem;
}

.main-profile-account--image img {
  border-radius: 50%;
  max-width: 5rem;
}

.main-profile {
  background-color: var(--oscuro);
  color: var(--claro);
  width: 41rem;
  height: 20rem;
  padding: 3rem;
  position: absolute;
  top: 92rem;
  left: 98rem;
}

.main-profile-account {
  display: flex;
  align-items: center;
}

.main-profile-account--info {
  margin-left: 2rem;
}
.main-profile-account--info h2 {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  line-height: 1.8rem;
}
.main-profile-account--info p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: var(--gris);
}
.main-profile-text {
  margin-top: 2rem;
  font-size: 2rem;
  line-height: 3rem;
  font-family: "Lora", sans-serif;
}

.footer-container {
  margin-top: 30rem;
  padding-bottom: 3rem;
}

.footer-container p {
  font-size: 1.4rem;
  line-height: 1.7rem;
  text-align: center;
  color: var(--gris);
}

.footer-container p a {
  color: var(--gris);
  text-decoration: none;
}

@media (max-width: 1280px) {
  .header-container {
    height: 10rem;
  }
} */
