:root {
  /* Fonts */
  --principal: "Lora", serif;
  --secundaria: "Montserrat", sans-serif;

  /* Colors */
  --oscuro: #181719;
  --claro: #fff;
  --gris: #a9a9a9;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.container {
  background-color: var(--oscuro);
}

.header-container {
  width: 100%;
  height: 20rem;
  display: flex;
  color: white;
  justify-content: space-between;
}

.logo {
  width: 12rem;
  height: 3rem;
  border: 1px solid var(--claro);
  margin: 4.2rem 0 0 7.7rem;
}
.logo p {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.6rem;
  text-transform: uppercase;
  margin-top: 6px;
}

.navegacion {
  margin-top: 2.2rem;
  margin-right: 7.7rem;
}
.navegacion ul {
  display: flex;
  list-style: none;
  gap: 4.3rem;
  font-size: 1.8rem;
}
.navegacion ul li a {
  cursor: pointer;
  text-decoration: none;
  color: var(--claro);
  font-family: var(--secundaria);
}
.navegacion ul li a:hover {
  border-bottom: 2px solid var(--claro);
  padding-bottom: 5px;
}

.main-container {
  width: 100%;
  height: 60rem;
  display: flex;
  margin-top: 10rem;
}

.main-info {
  color: var(--claro);
  flex-direction: column;
  gap: 3rem;
  padding: 7rem;
  display: flex;
  margin-right: 13rem;
}

.main-info h1 {
  font-size: 4.8rem;
  font-weight: 500;
  font-family: var(--principal);
}
.main-info p {
  max-width: 35rem;
  font-size: 2.4rem;
  line-height: 2.9rem;
  font-family: var(--secundaria);
  font-weight: 400;
}

.main-info a {
  color: var(--claro);
  text-decoration: none;
  font-size: 1.8rem;
  font-family: var(--secundaria);
  font-weight: 700;
}

.main-image img {
  min-width: 80rem;
  max-height: 58rem;
}

.main-profile-account--image img {
  border-radius: 50%;
  max-width: 5rem;
}

.main-profile {
  background-color: var(--oscuro);
  color: var(--claro);
  width: 41rem;
  height: 20rem;
  padding: 3rem;
  position: absolute;
  top: 78rem;
  left: 100rem;
}

.main-profile-account {
  display: flex;
  align-items: center;
}

.main-profile-account--info {
  margin-left: 2rem;
}
.main-profile-account--info h2 {
  font-size: 1.4rem;
  margin-bottom: 0.8rem;
  line-height: 1.8rem;
}
.main-profile-account--info p {
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: var(--gris);
}
.main-profile-text {
  margin-top: 2rem;
  font-size: 2rem;
  line-height: 3rem;
  font-family: "Lora", sans-serif;
}
